.wrapper {
  text-align: center;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  color: white;
}

.text {
  color: #aaa;
  font-size: 1rem;
}
